* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #171717;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #E3E5E2;
}

header {
  width: 100%;
  background: #282828;
  padding-left: 3em;
}

header h1 {
  margin: 0;
  color: white;
  font-family: 'Abril Fatface';
  line-height: 2.5em;
  font-size: 2em;
  letter-spacing: 0px;
  font-weight: normal;
  transition: all ease 0.5s;
}

header h1:hover {
  letter-spacing: 4px;
  transition: all ease 0.5s;
}

nav {
  display: block;
  margin-top: 1em;
  width: 70%;
  margin-left: 1em;
  border-bottom: 1px solid #A4AAB2;
}

nav a {
  position: relative;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #282828;
  font-size: 1em;
  line-height: 1em;
  transition: all ease 1s;
}

nav a:before {
  height: 1.2em;
  color: #A4AAB2;
  max-width: 0;
  border-top: 1px dashed #A4AAB2;
  border-bottom: 1px dashed #A4AAB2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  content: attr(data-text);
  transition: all ease 1s;
}

nav a:hover:before,
nav a:focus:before {
  max-width: 100%;
  outline: none;
  text-shadow: none;
  transition: all ease 1s;
}

section {
  width: 100%;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section h2 {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface';
  color: #171717;
  font-weight: normal;
  text-shadow: 1px 1px 0px white;
}

#topdf {
  margin-left: 2em;
}

#topdf a {
  text-decoration: none;
  color: grey;
}

#topdf .howto {
  display: block;
  font-size: 0.8em;
  color: darkgrey;
}

a.process_onglet {
  text-decoration: none;
  color: #171717;
}

a.process_onglet:after {
  display: inline-block;
  vertical-align: top;
  content: '-';
}

a.process_onglet:last-of-type:after {
  display: none;
}

a.process_onglet:target {
  font-weight: bold;
}

#process_content_block {
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 1.5em;
  font-size: 0.9em;
  text-align: justify;
}

a.process_onglet ~ #process_content_block .process_content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: all ease 0.5s;
}

#overview:target ~ #process_content_block #overview_content,
#week1:target ~ #process_content_block #week1_content,
#week2:target ~ #process_content_block #week2_content,
#week3:target ~ #process_content_block #week3_content,
#week4:target ~ #process_content_block #week4_content,
#week5:target ~ #process_content_block #week5_content,
#week6:target ~ #process_content_block #week6_content,
#week7:target ~ #process_content_block #week7_content,
#review:target ~ #process_content_block #review_content {
  opacity: 1;
  transition: all ease 0.5s;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  font-size: 0.6em;
  background-color: #282828;
  color: white;
  text-align: center;
}
